{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h1 align="center">Lista de Clientes</h1>
        <div class="card">
            <table class="table" align="center">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Genero</th>
                    <th>Data Nascimento</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Endereço</th>
                </tr>
                {% for cliente in lista_clientes %} 
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.genero }}</td>
                    <td>{{ cliente.data_nascimento }}</td>
                    <td>{{ cliente.cidade }}</td>
                    <td>{{ cliente.estado }}</td>
                    <td>{{ cliente.endereco }}</td>
                </tr>
                {% endfor %} 
            </table>
          
                <a class="btn btn-success btn-block" href="{% url 'formulario:cadastrar' %}">Cadastrar</a>
        </div>
    </div>
    
{% endblock %}